
body {
    background-color: rgb(234, 234, 234);
    font-family: 'DM Sans', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li {
    font-size: auto;
    vertical-align:non;
}

main {
    overflow: hidden;
}

footer {
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 5%;
}
.skip {
    position: absolute;
    top: -30px;
}

.skip:focus{
    top: 0px;
}

ul li{
    display: inline;
}

ul{
    width: 90%;
    text-align: center;
    margin: 30px auto auto auto;
    padding: .65%;
    background-color: rgb(79, 91, 110);
    border-radius: 50em;
}
.nav_opt{
    color: rgb(255, 255, 255);
    margin: 0 5% 0 5%;
} 
.nav_opt:hover, .nav_opt:active{
    background-color: rgb(52, 52, 52);
    border-radius: 50em;
    padding: .5%;
    font-weight: 900;
} 

/* check tutorial
“How To Add Active Class To Current Element.” W3Schools, https://www.w3schools.com/howto/howto_js_active_element.asp. Accessed 22 October 2023. */
.current_page{
    background-color: rgb(233, 139, 139);
    color: rgb(25, 12, 12);
    border-radius: 50em;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 900;
} 
h1 {
    text-align: center;
    text-decoration: underline solid 2px #3381da;
    text-decoration-style: wavy;
}
/* Banner part */
.banner{
    background-color: rgb(244, 221, 151);
    border-radius: 1.5em;
    padding: 15px;
    margin: 20px 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.banner-img {
    grid-column: 1/span 3;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px auto auto auto;
    border-radius: 2em;
}

.banner-img-gif {
    grid-column: 1/span 3;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px auto auto auto;
    border-radius: 2em;
}

.banner-description{
    padding: 5%;
    grid-column: 1/span 3;
    text-align: center;
    margin: auto;
}
/* .banner-icon {
    padding: 5%;
    grid-column: 3/span 1;
    text-align: center;
    margin: auto;
} */
img{
    width: 100%;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(186, 216, 224);
    padding: 10px 50px 10px 40px;
    margin-bottom: 100px;
    margin: 20px -10px 20px -10px;
    column-gap: 7px;
    text-align: center;
}
.card img {
    border: solid rgb(244, 244, 244) 10px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin: auto;
}
.item:first-child{
    grid-column: 1/span 3;
}
.item:nth-child(2){
    grid-column: 1/span 3;
}
.item:nth-child(3){
    grid-column: 1/span 2;
}
.item:nth-child(4){
    grid-column: 3/span 1;
    width: 89%;
}
.item:last-child{
    grid-column: 1/span 3;
}

.item2:first-child{
    grid-column: 1/span 3;
}

.item2:nth-child(2){
    grid-column: 1/span 2;
    grid-row: 2/span 2;
}

.item2:last-child{
    grid-column: 1/span 3;
}

.ingredients{
    grid-column: 1/span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.city-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    column-gap: 30px;
    margin: auto 40px auto 40px;
}


.ref p{
    width: 100%;
    font-size: 12px;
}

.pet-card {
    background-color: white;
    border-radius: 1.5em;
    padding: 15px;
    margin: 20px 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.pet-card img{
    border-radius: .5em;
}

.pet-card img:nth-child(n+3){
    width: 100%;
    max-height: 115px;
}
.pet:first-child{
    grid-column: 1/ span 2;
    text-align: center;
}

.pet:nth-child(2) {
    grid-column: 1/ span 2;
    text-align: center;
}

.pet:nth-child(5) {
    background-color: #dce7f4;
    grid-column: 1/ span 2;
    text-align: center;
    border-radius: .5em;
    padding: 5px;
}

.cite{
    color: rgb(50, 50, 50);
    font-size: 10px;
    text-align: left;
}

.recipe-card{
    background-color: rgb(245, 200, 145);
    border-radius: 1.5em;
    padding: 15px;
    margin: 20px 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.recipe img{
    width: 100%;
}

.food-picture img{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 40px 10px 10px 10px;
}
.recipe{
    background-color: rgba(238, 228, 223, 0.8);
    padding: 5px;
    border-radius: .5em;
}
.recipe:first-child{
    grid-column: 1/ span 2;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto 28px auto 28px;
}
.recipe:last-child{
    grid-column: 1/ span 2;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

/* check tutorial */
/* “prefers-reduced-motion - CSS: Cascading Style Sheets | MDN.” MDN Web Docs, 21 August 2023, https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion. Accessed 23 October 2023. */
@media (prefers-reduced-motion) {
    .banner-img {
        animation: none;
    }
    iframe{
        display: none;
    }
}